<div id="main">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Completed</td>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active"  *ngFor="let item of array; index as i">
                <td>
                    <a routerLink="/table-data/{{item.id}}">
                        <span>{{item.id}}</span>
                    </a>
                </td>
                <td>
                    <a routerLink="/table-data/{{item.id}}">
                        <span>{{item.title}}</span>
                    </a>
                </td>
                <td>
                <a routerLink="/table-data/{{item.id}}">
                    <span>{{item.completed}}</span>
                </a>
            </tr>
        </tbody>
    </table>
</div>
  